@use "./settings/" as *;

#root {
  margin: 0 auto;
  position: relative;
  grid-template-columns: 300px auto;

  @media (min-width: 1024px) {
    display: grid;

    .menu-desktop {
      grid-column: 1/2;
    }

    .container {
      grid-column: 2/3;
    }
  }
}
