@use "./settings/" as *;

.viewer {
  margin: 0 auto;
  padding: 2.4rem;
  max-width: 560px;
  font-size: 1.8rem;

  @media (min-width: 768px) {
    padding: 2rem;
  }

  @media (min-width: 1024px) {
    padding: 4rem;
    max-width: 768px;
  }

  &__block {
    &__header {
      display: flex;
      justify-content: space-between;
      margin: 0 0 3rem 0;

      &__title {
        @extend .type-h2;
        margin: 0;
      }

      &__category {
        @extend .type-h2;
        margin: 0;
      }
    }
  }
}
