@use "./settings/" as *;

.watch-list {
  &__status {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0 0.5em 0 0;

    border: 1px solid #ddd;
    border-radius: 50%;

    &.true {
      border: none;
      background: rgb(0, 206, 52);
    }
    &.false {
      border: none;
      background: rgb(173, 17, 0);
    }
  }

  &__headline {
  }

  &__item {
    display: flex;
    line-height: 1;

    &__link,
    &__media {
      margin: 0 0 1em 0;
    }

    &__link {
      margin-right: 1em;
      color: $color-text;

      &:hover,
      &:visited,
      &:focus {
        color: $color-text;
      }
    }

    &__media {
    }

    &__social {
      &.disable {
        color: #ddd;
        pointer-events: none;
      }
    }
  }
}
