@use "./settings/" as *;

.viewer {
  margin: 0 auto;
  padding: 2.4rem;
  max-width: 560px;
  font-size: 1.8rem;

  @media (min-width: 768px) {
    padding: 2rem;
  }

  @media (min-width: 1024px) {
    padding: 4rem;
    max-width: 768px;
  }

  &__block {
    @extend .type-sans-light;
    margin: 0 0 3.2rem 0;

    @media (min-width: 1024px) {
      display: flex;
      margin: 0 0 4rem 0;
    }

    &__date {
      flex: 1 1 20%;
      margin: 0 0 0.75em 0;
      font-size: 1.6rem;
      line-height: 1;
      letter-spacing: 0.06em;

      @media (min-width: 1024px) {
        margin: 0 0 1em 0;
        font-size: 2rem;
        line-height: 1.4;
      }
    }

    &__list {
      flex: 1 1 80%;
      list-style: none;
      margin: 0;
      padding: 0;

      @media (min-width: 1024px) {
        padding: 0 0 0 3.2rem;
      }
    }
  }
}

.list-item {
  margin: 0 0 0.4rem 0;

  @media (min-width: 1024px) {
    margin: 0 0 0.8rem 0;
  }

  &__link {
    @extend .link;
    display: block;
    margin: 0;
    // padding: 1.2rem 0.8rem 0.8rem;
    padding: 1.2rem 0 0.8rem;
    border-top: 1px solid #ddd;
    transition: $transition;

    &:hover {
      // background-color: #f5f5f5;
      .list-item__link__title {
        text-decoration: underline;
      }
    }

    @media (min-width: 1024px) {
      padding: 1.6rem 1.2rem 1.2rem;
      padding: 1.6rem 0rem 1.2rem;
    }

    &__header {
      display: flex;
      margin: 0 0 0.25em 0;
      font-size: 1.2rem;
      line-height: 1;

      @media (min-width: 1024px) {
        margin: 0 0 0.5em 0;
        font-size: 1.4rem;
      }

      &__head {
        margin: 0 1em 0 0;
        letter-spacing: 0.05em;

        @media (min-width: 1024px) {
        }
      }

      &__media {
        margin: 0;
        letter-spacing: 0.05em;
        color: #999;
      }
    }

    &__title {
      @extend .type-serif;
      margin: 0;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.5;
      @media (min-width: 1024px) {
        font-size: 2rem;
      }
    }
  }
}
