@use "./variables" as *;

// 'EB Garamond'400;500;600;700;800
// 'Inter'300;400;700;900
// 'Noto Sans JP'300;400;700;900
// 'Noto Serif JP'300;400;700;900

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Inter:wght@300;400;700;900&family=Noto+Sans+JP:wght@300;400;700;900&family=Noto+Serif+JP:wght@300;400;700;900&display=swap");

$font-serif: "EB Garamond", "Noto Serif JP", serif;
$font-sans: "Inter", "Noto Sans JP", sans-serif;

.palt {
  font-feature-settings: "palt";
  letter-spacing: 0.05em;
}

.type-serif {
  font-family: $font-serif;
}

.type-sans {
  font-family: $font-sans;
}

.type-sans-light {
  font-weight: 300;
}

.type-text {
  color: $color-text;
  font-size: 1.4rem;
  line-height: 2;

  @media (min-width: 1024px) {
    font-size: 1.6rem;
  }
}
