@use "./variables" as *;

// 'EB Garamond'400;500;600;700;800
// 'Inter'300;400;700;900
// 'Noto Sans JP'300;400;700;900
// 'Noto Serif JP'300;400;700;900

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Inter:wght@300;400;700;900&family=Noto+Sans+JP:wght@300;400;700;900&family=Noto+Serif+JP:wght@300;400;700;900&display=swap");

$font-serif: "EB Garamond", "Noto Serif JP", serif;
$font-sans: "Inter", "Noto Sans JP", sans-serif;

@mixin type-text {
  color: $color-text;
  line-height: 2;
}

@mixin palt {
  font-feature-settings: "palt";
  letter-spacing: 0.05em;
}

.type-serif {
  font-family: $font-serif;
  font-weight: 400;
}

.type-sans {
  font-family: $font-sans;
  font-weight: 300;
}

.type-text {
  @include type-text;
}
